/* Ghi đè font mặc định bằng Inter */
body {
    font-family: 'Inter', sans-serif;
}

/* Loại bỏ mũi tên tăng/giảm cho input type number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}